

.centrarDivL
{
    position: absolute;
    top:50%;
    left:50%;
    width:1200px;
    height:400px;
    margin-left:-600px;	
    left: 50%;
    margin-top:-250px;
    padding:5px;
}
.fondoLogin{
    background-image: url(../img/fondoLogin.jpg);
    background-repeat: no-repeat;
    color: #ffffff;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.color{
    color: #ffffff;
}
.fondo{
    margin:10px auto;
    display:block;
}

.centrarDivL
{
    position: absolute;
    top:50%;
    left:50%;
    width:1200px;
    height:400px;
    margin-left:-600px;	
    left: 50%;
    margin-top:-250px;
    padding:5px;
}
.fondoLogin{
    background-image: url(../img/fondoLogin.jpg);
    background-repeat: no-repeat;
    color: #ffffff;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.color{
    color: #ffffff;
}

.translucent-form-overlay {
    max-width: 600px;
    width: 100%;
    background-color: rgba(54, 54, 54, 0.8);
    padding: 20px;
    color: #fefefe;
    position: absolute;
    top:50%;
    left: 28%;
    margin-top:-210px;
    padding:10px;
    border-radius: 8px;
}

.translucent-form-overlay .columns.row {
    display: block;
}

.translucent-form-overlay h3, .translucent-form-overlay label {
    color: #fefefe;
}

.translucent-form-overlay input, .translucent-form-overlay select {
    color: #8a8a8a;
}

.translucent-form-overlay input::-webkit-input-placeholder {
    color: #8a8a8a;
}

.translucent-form-overlay input:-ms-input-placeholder {
    color: #8a8a8a;
}

.translucent-form-overlay input::placeholder {
    color: #8a8a8a;
}

.bannerGeEs{
    background-color: #1779ba;
    height: 80px;
    padding: 22px;
    border-radius: 5px;
}
.fondoRegEstu{
    background-image: url(../img/fondoReEs.jpg);
    background-repeat: no-repeat;
    color: #ffffff;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.pie{
    background-color:  #e6e6e6;
    height: 90px;
    text-align: center;
    padding: 30px;
}

.centrarDivL
	{
		position: absolute;
		top:50%;
		left:50%;
		width:1200px;
                height:400px;
		margin-left:-600px;	
                left: 50%;
		margin-top:-250px;
		padding:5px;
	}
        .fondoLogin{
            background-image: url(../img/fondoLogin.jpg);
            background-repeat: no-repeat;
            color: #ffffff;
            background-attachment: fixed;
            background-size: 100% 100%;
        }
        .color{
            color: #ffffff;
        }

